<table>
	<% [1,2,3,4,5,6,7,8].each do |t| %>
		<tr id="sound<%= t %>">
			<td class="col1"></td>
			<td class= "col2"></td>
			<td class ="col3"></td>
			<td class = "col4"></td>
			<td class = "col5"></td>
			<td class = "col6"></td>
			<td class = "col7"></td>
			<td class = "col8"></td>
		</tr>
	<% end %>
</table>