
<section>
	<header id="romney">
		<%=image_tag('gifromney1.png', :class =>"Title")%>
	</header>
</section>

<section id= "maincontain">

		<div id= "inner">
			<% [1,2,3,4,5,6,7,8].each do |f|%>
				<%=image_tag("mitt"+f.to_s+".png", :class => f.to_s)%>
			<%end%>

			<%= render 'step_sequencer' %>
		</div>
	
	<div id= "buttons">
		<div class="btn-group">


			<div id="slider"></div>


		</div>
		<div id="randclear">
			<button class="shiny-blue" id= "clear">Clear</button>
			<button class= "shiny-blue" id= "Random">Randomize</button>
			<button class="shiny-blue" id= 'auto'>Auto</button>
		</div>
	</div>
</section>

<script type="text/javascript">
  (function() {
    var li = document.createElement('script'); li.type = 'text/javascript'; li.async = true;
    li.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//platform.stumbleupon.com/1/widgets.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(li, s);
  })();
</script>

<footer id= "socialmedia">
	<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a>
	 <div class="fb-like" data-href="https://gifromney.com" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
	 <div id="stumble"><su:badge layout="1"></su:badge></div>
</footer>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>



 <div id="handle"><a id = "link" href= "https://twitter.com/MikeHMorrissey"> @mikehmorrissey</a></div>
 











