/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .

 *= require jquery.ui.slider
 
 */

td {background-color: black; padding:15px; border-radius: 5px}
table{ margin:0px;  padding-top: 280px; margin-left: 20px; padding-bottom: 10px; }

.selected {background-color: red}
#buttons{position: relative; top:5px; left:75px;}

#romney{margin-left: auto; margin-right: auto; width: 500px }
.sequence {opacity: 0.5}

#tester{ padding:40px; margin: 100px; }

img{position:absolute; top:155px;  border-radius: 15px; margin-left: 22px; height:250px;}

p{position: absolute; top:500px; font-size: 60px; }

.Title{position: absolute; top :10px; margin-left:95px; height:100px; }

.above{z-index: 2}

#maincontain {
  width: 500px ;
  margin-left: auto ;
  margin-right: auto ;
  background-color: rgb(40,40,90);
  height: 600px;
  border-radius: 8px;
  margin-top:110px;
  padding-top:20px;
  margin-bottom: 50px

}
.twitter-share-button{position: relative; bottom: 35px; left: 120px}
.fb-like{position: relative; bottom:40px; left:105px;}
#socialmedia{
	width:500px;
	margin-left: auto;
	margin-right: auto;
}

#inner{
	width:300px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 8px;
	background-color: white;
	border: black solid 7px
}

html{background-color:  rgb(60,60,110);}