

 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 
 
 
 */
#Random{}
#clear{}

td {background-color: black; padding:15px; border-radius: 5px}
table{ margin:0px;  padding-top: 280px; margin-left: 20px; padding-bottom: 10px; }

.selected {background-color: red}
#buttons{margin: 50px; margin-top: 20px  }

#slider {background-color:rgb(60,60,110);}

#romney{margin-left: auto; margin-right: auto; width: 500px }
.sequence {opacity: 0.5}

#tester{ padding:40px; margin: 100px; }

img{position:absolute; top:155px;  border-radius: 15px; margin-left: 22px; height:250px;}

p{position: absolute; top:500px; font-size: 60px; }

.Title{position: absolute; top :10px; margin-left:95px; height:100px; }

.above{z-index: 2}

.picked{opacity: 0.5;
 }
#maincontain {
  width: 500px ;
  margin-left: auto ;
  margin-right: auto ;
  background-color: rgb(40,40,90);
  height: 700px;
  border-radius: 8px;
  margin-top:110px;
  padding-top:20px;
  margin-bottom: 50px

}

form{height:20px;}
.twitter-share-button{position: relative; bottom: 30px; left: 130px}
.fb-like{position: relative; bottom:34px; left:107px;}

#socialmedia{
	width:500px;
	margin-left: auto;
	margin-right: auto;
}
#randclear{margin-top:50px; margin-left: 50px}

#inner{
	width:300px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 8px;
	background-color: white;
	border: black solid 7px
}
#link{text-decoration: none; color: rgb(90,90,140); text-shadow: 1px 1px 1px rgb(50,50,100); font-size: 17px  }
#handle{ position: absolute; left:10px; top: 5px; text-decoration: none; }

html{background-color:  rgb(60,60,110);}




.shiny-blue {
  background-color: #759ae9;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #759ae9), color-stop(50%, #376fe0), color-stop(50%, #1a5ad9), color-stop(100%, #2463de));
  background-image: -webkit-linear-gradient(top, #759ae9 0%, #376fe0 50%, #1a5ad9 50%, #2463de 100%);
  background-image: -moz-linear-gradient(top, #759ae9 0%, #376fe0 50%, #1a5ad9 50%, #2463de 100%);
  background-image: -ms-linear-gradient(top, #759ae9 0%, #376fe0 50%, #1a5ad9 50%, #2463de 100%);
  background-image: -o-linear-gradient(top, #759ae9 0%, #376fe0 50%, #1a5ad9 50%, #2463de 100%);
  background-image: linear-gradient(top, #759ae9 0%, #376fe0 50%, #1a5ad9 50%, #2463de 100%);
  border-top: 1px solid #1f58cc;
  border-right: 1px solid #1b4db3;
  border-bottom: 1px solid #174299;
  border-left: 1px solid #1b4db3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
  box-shadow: inset 0 0 2px 0 rgba(57, 140, 255, 0.8);
  color: #fff;
  font: bold 12px/1 "helvetica neue", helvetica, arial, sans-serif;
  padding: 7px 0;
  text-shadow: 0 -1px 1px #1a5ad9;
  width: 100px; }
.shiny-blue:hover {
    background-color: #5d89e8;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5d89e8), color-stop(50%, #2261e0), color-stop(50%, #044bd9), color-stop(100%, #0d53de));
    background-image: -webkit-linear-gradient(top, #5d89e8 0%, #2261e0 50%, #044bd9 50%, #0d53de 100%);
    background-image: -moz-linear-gradient(top, #5d89e8 0%, #2261e0 50%, #044bd9 50%, #0d53de 100%);
    background-image: -ms-linear-gradient(top, #5d89e8 0%, #2261e0 50%, #044bd9 50%, #0d53de 100%);
    background-image: -o-linear-gradient(top, #5d89e8 0%, #2261e0 50%, #044bd9 50%, #0d53de 100%);
    background-image: linear-gradient(top, #5d89e8 0%, #2261e0 50%, #044bd9 50%, #0d53de 100%);
    cursor: pointer; }
.shiny-blue:active {
    border-top: 1px solid #1b4db3;
    border-right: 1px solid #174299;
    
    border-left: 1px solid #174299;
   
    -webkit-box-shadow: inset 0 0 5px 2px #1a47a0, 0 1px 0 black;
    box-shadow: inset 0 0 5px 2px #1a47a0, 0 1px 0 black ; }

.picked{background-color: blue}
#stumble{position: relative; bottom: 53px; left :303px}



