/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

td {background-color: black; padding:15px; border-radius: 0px}
table{ margin:100px; margin-left: 350px; margin-top: 300px}

.selected {background-color: blue}

.sequence {opacity: 0.5}

#tester{ padding:40px; margin: 100px; }

img{position: absolute; top:50px; border-radius: 5px; margin-left: 460px; height:200px;}

p{position: absolute; top:500px; font-size: 60px; z-index: 1}

.above{z-index: 2}

html{background-image: url('https://lh6.googleusercontent.com/-daWxOO4Kw6Y/UGEdvJRo6mI/AAAAAAAAAPU/6QEkaBoKbNk/s225-p-k/backgroundh.jpeg')}